// $sidebar-color: #303841;
// $navbar-color: #3a4750;
// $main-box-color: #757e84;
// $accent-color: #d72323;

$sidebar-color: #00454a;
$sidebar-width: 350px;

$navbar-color: #3c6562;
$main-box-color: #003545;
$accent-color: #ed6363;

$card-color: #3c6562;

$border-radius: 1.2rem;
$box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
