// $sidebar-color: #303841;
// $navbar-color: #3a4750;
// $main-box-color: #757e84;
// $accent-color: #d72323;

$primary: #30334A;
$danger: #8F144F;
$success: #A0B55B;
$info: #B1B3C4;
$warning: #DE9502;

$primary: #404266;
$danger: #D9513D;
$success: #0E9989;
$info: #B8E6E0;
$warning: #EDAF13;


@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// $sidebar-color: #00454a;
$sidebar-color: #232931;
$sidebar-width: 350px;

// $navbar-color: #3c6562;
// $main-box-color: #003545;
// $accent-color: #ed6363;
$navbar-color: #232931;
$main-box-color: #393e46;
$accent-color: #4ecca3;

$card-color: #474e58;

$border-radius: 1rem;
$box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
